:root {
  --banner-start: #3b6dc3;
  --banner-end: #220656;
  --btn-search: #59a2e9;
  --btn-history: #b7b7b7;
  --uv-bg: #157e51;
  --daily-bg: #33475a;
  --uv-low: #99cc00;
  --uv-moderate: #ffff00;
  --uv-high: #ff992b;
  --uv-veryhigh: #ff0000;
  --uv-extreme: #be00be;
}

/* UV color index data from this website
http://nou-tt.blogspot.com/2016/02/what-uv-index-is-all-about.html

*/

/* remove default margins from every elememt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* BANNER styling start */
#banner-row {
  background-image: linear-gradient(
    to right,
    var(--banner-start),
    var(--banner-end)
  );
}

#banner {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* SEARCH CITY styling start */

#search-box {
  width: 95%;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
#search-title {
  margin-bottom: 10px;
}

#search-city {
  width: 100%;
}

#search-button {
  width: 100%;
  border-radius: 5px;
}

/* SEARCH HISTORY styling start */
#search-history {
  border-top: 2px solid darkslategrey;
}

.search-history-button {
  width: 95%;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
}
